  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }

  body{
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  header{
    background-color: #000000;
    width: 100%;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }

  .logo{
    width: 90px;
    height: 70px;
  }

  .nav{
    display: flex;
    column-gap: 15px;
  }


  .nav li a{
    color: rgb(172, 172, 172);
    font-family: Arial, Helvetica, sans-serif;
  }

  .nav li a:hover{
    transition: all .3s;
    color: blue;
  }

  .textproduct{
    color: grey;
    margin-top: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  .cars{
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }

  .card{
    width: 290px;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .center{
    overflow: hidden;
  }

  .center:hover{
    transform: scale(1.4);
  }

  .imgcard{
    transition: all .6s ease-in-out;
    width: 100%;
  }

  .title{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }


  .desc{
    color: grey;
    font-size: 14px;
  }

  .price{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
  }

  #btnAdd{
    cursor: pointer;
    background-color: green;
    color: #fff;
    padding: 3px;
    border: none;
    border-radius: 30px;
  }

  #btnAdd:hover{
    transition: all .3s;
    background-color: rgb(15, 158, 15);
  }

  footer{
    margin-top: 40px;
    background-color: #000000;
    width: 100%;
    min-height: 270px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
  }

  .nav-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .nav-footer li a, .addres li{
    color: grey;
  }

  @media (max-width: 450px){
    header{
      flex-direction: column;
      padding: 10px 0;
      gap: 15px;
    }

    footer{
      flex-direction: column;
      row-gap: 15px;
      text-align: center;
    }
  }
  

  

  

   
